main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main_briefing {
  width: 70vw;
  height: 70vh;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgba(25, 25, 25, 0.8);
  display: flex;
  flex-flow: column nowrap;
}
.header_box {
  width: 70vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid grey;
}
.body_box {
  width: 70vw;
  height: 65vh;
  position: relative;
}
#btn_open_menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  cursor: pointer;
  z-index: 3;
}
.menu_box {
  position: absolute;
  z-index: 2;
  background-color: rgba(10, 10, 10, 0.6);
  border-left: 2px solid grey;
  height: 100%;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ship_box {
  flex-flow: column nowrap;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid grey;
}
.ship_title {
  position: absolute;
  top: 0;
}
.ship_title,
.ship_box div {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.7);
  text-align: center;
}
.ship_box div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
