main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main_briefing {
  width: 70vw;
  height: 70vh;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgba(25, 25, 25, 0.8);
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  justify-content: center;
  align-items: center;
}
.header_box {
  width: 70vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid grey;
}
.body_box {
  width: 70vw;
  height: 65vh;
  position: relative;
}
#btn_open_menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  cursor: pointer;
  z-index: 3;
}
.menu_box {
  position: absolute;
  z-index: 3;
  background-color: rgba(10, 10, 10, 0.6);
  border-left: 2px solid grey;
  height: 100%;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.ship_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-right: 2px solid grey;
}
.ship_box {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid grey;
}
.ship_title {
  position: absolute;
  top: 0;
}
.ship_title,
.ship_box div {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.7);
  text-align: center;
}
.ship_box div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.ship_box input {
  background-color: rgb(25, 25, 25);
  border: 1px solid grey;
  margin: 0 5px;
  padding: 0 3px;
}
.btn_val_man {
  width: 10%;
  border: none;
  background-color: rgb(50, 50, 50);
  font-size: 16px;
  cursor: pointer;
}
.operation_box {
  grid-template-rows: 0.5fr 2fr 2fr 1fr 1fr 1fr;
  text-align: center;
}
.missions_list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid grey;
}
.mission_select {
  width: 50%;
  height: 30px;
  font-family: "Kanit", sans-serif;
  border-radius: 3px;
  border: 1px solid grey;
}
.coords_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.coords_box input {
  width: 10%;
  margin: 0 2px;
  color: black;
  text-align-last: center;
}
#time_required {
  align-self: center;
}
.consumption_wrapper {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.max_consumption {
  width: 70%;
  height: 30%;
  border: 2px solid white;
  border-radius: 3px;
  background-color: #e50b00;
}
.real_consumption {
  height: 100%;
  width: 0%;
  background-color: green;
}
#consumpt_number {
  position: absolute;
}
.btn_deploy {
  width: 70%;
  height: 50%;
  color: white;
  background-color: #5be64e;
  font-size: 1.4em;
  justify-self: center;
  align-self: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.btn_deploy:hover {
  text-shadow: 2px 2px 5px white;
}
.status_box {
  position: absolute;
  padding: 5px;
  max-width: 30vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgb(25, 25, 25);
  border: 1px solid white;
  border-radius: 4px;
}
.status_box button {
  width: 70%;
  padding: 3px 0;
  color: white;
  background-color: rgb(40, 40, 40);
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.status_box button:hover {
  border-color: grey;
}
.hyperspace_flash {
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
