main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.briefing_main_container {
  width: 85vw;
  height: 110vh;
  margin: 25px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(30,30,30,0.9);
  text-align: center;
}
.briefing_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 67px);
  border-top: 2px solid grey;
}
.briefing_list_ships {
  width: 70%;
  border-right: 2px solid grey;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.briefing_header_docks {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid grey;
  height: 35px;
  background-color: rgb(30,30,30);
}
.briefing_header_docks button {
  padding: 3px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  border: 2px solid grey;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: white;
  margin: 0 3px;
  border-radius: 5px;
}
.briefing_header_docks button:hover {
  border-color: white;
}
.ship_list {
  width: 100%;
  height: calc(100% - 35px);
  max-height: calc(100% - 35px);
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(30,30,30);
  text-align: center;
}
.ship_list tr {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
}
.tr_header {
  min-height: 50px;
  background-color: rgb(50,50,50);
  border-bottom: 1px solid white;
  margin-bottom: 1px;
}
.ship_tab {
  min-height: 40px;
  background-color: rgb(70,70,70);
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
input[type=checkbox]
{
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  transform: scale(1.2);
  padding: 10px;
  background-color: rgb(20,20,20);
  color: white;
  font-family: "Kanit", sans-serif;
}
.ship_list th:nth-child(1), .ship_list td:nth-child(1) {
  width: 10%;
}
.ship_list th:nth-child(2), .ship_list td:nth-child(2) {
  width: 10%;
}
.ship_list th:nth-child(3), .ship_list td:nth-child(3) {
  width: 20%;
}
.ship_list th:nth-child(4), .ship_list td:nth-child(4) {
  width: 60%;
}
/* right side */
.briefing_tools {
  width: calc(30% - 2px);
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(35,35,35);
  height: 100%;
}
.section_tool {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: rgb(30,30,30);
  margin: 5px 0;
}
.coordinates {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 0;
}
.coordinates div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.form_brief_coord {
  width: 100%;
}
.form_brief_coord input {
  width: 50%;
  padding: 1px 0;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  color: white;
  border: 2px solid grey;
  text-align-last: center;
}
.section_tool button {
  width: 50%;
  padding: 3px 0;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  border: 2px solid grey;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: white;
  margin: 3px 0;
}
.section_tool button:hover {
  border-color: white;
}
.fleet_tools {
  justify-content: space-evenly;
}
.fleet_tools button {
  width: 45%;
}
.company_def_hrs {
  width: 20%;
  background-color: rgb(30,30,30);
  border: 2px solid grey;
  transition: 0.2s ease-in-out;
  font-family: "Kanit", sans-serif;
  color: white;
  text-align-last: center;
}
.company_def_hrs:focus {
  border-color: white;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
/* js popup */
.briefing_result {
  position: absolute;
  top: 15vh;
  width: 20vw;
  padding: 10px 0;
  background-color: rgb(30,30,30);
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.btn_close_popup {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 4px;
  width: 25px;
  cursor: pointer;
}
