main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.galaxy_main_container {
  width: 100%;
  background-color: rgb(35,35,35,0.9);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  margin: 2.5vh 0;
  padding: 10px 0;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-items: center;
}
.btn_help_galaxy {
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  color: white;
  cursor: pointer;
  border: 2px solid white;
}
.galaxy_main_map_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.galaxy_main_container_navbar {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}
.galaxy_main_container_navbar_selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.galaxy_main_container_navbar_map {
  text-align: center;
}
.galaxy_main_container_navbar_selector input {
  padding: 6px 5px;
  border: 2px solid white;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  color: white;
  margin: 0 7px;
}
.galaxy_main_container_navbar_selector button {
  padding: 4px 5px;
  border: 2px solid white;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  color: white;
  font-size: 16px;
}
.galaxy_main_map {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 7px 0;
}
.galaxy_main_map {

}
.map_mobile {
  text-align: center;
  width: 100%;
}
.map_mobile td {
  border-top: 2px solid white;
  padding-top: 5px;
}
.planet {
  width: 30px;
}
.npc {
  height: 20px;
}
.galaxy_main_map_planet_params, .galaxy_main_map_hack_attempt {
  position: absolute;
  width: 95%;
  border: 2px solid white;
  background-color: rgb(35,35,35);
  display: none;
  flex-flow: column nowrap;
  padding: 10px 0;
  padding-top: 15px;
  align-content: center;
  margin: 0 2.5%;
  text-align: center;
  align-items: center;
}
.galaxy_main_map_hack_attempt {
  background-color: rgb(50,50,50);
}
.close_planet_info, .close_galaxy_hack_info {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.galaxy_main_map_planet_params a , .galaxy_main_map_planet_params button {
  padding: 4px 5px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  color: white;
  font-size: 16px;
  border: 2px solid white;
  margin: 3px 0;
  width: 60%;
  text-decoration: none;
  border-radius: 4px;
}
