main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.inbox_container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgb(30,30,30,0.9);
  border: 2px solid white;
  color: white;
  text-align: center;
}
.inbox_container_header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: rgb(30,30,30);
  border-top: 1px solid white;
  justify-content: space-evenly;
  padding: 3px 0;
}
.inbox_container_header button {
  width: 23%;
  margin: 0 1px;
  background-color: rgb(40,40,40);
  cursor: pointer;
  border: 2px solid white;
  border-radius: 3px;
  font-family: "Kanit", sans-serif;
  color: white;
}
.allMsgs {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: rgb(30,30,30);
  border-top: 1px solid grey;
  border-bottom: 1px solid white;
  justify-content: space-evenly;
  padding: 3px 0;
}
.allMsgs button {
  width: 48%;
  margin: 0 1px;
  background-color: rgb(40,40,40);
  cursor: pointer;
  border: 2px solid white;
  font-family: "Kanit", sans-serif;
  color: white;
  border-radius: 3px;
}
.inbox_container_main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  max-height: 40vh;
  background-color: rgb(30,30,30);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin: 10px 0;
  padding: 5px 0;
  position: relative;
}
.msg_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.msg_inbox_left {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  background-color: rgb(50,50,50);
  justify-content: center;
  border-right: 2px solid grey;
}
.msg {
  width: calc(100% - 22px);
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.close_msg, .close_msg_reply {
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
#msgTextContainer {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 5px 0;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.reply-msg-button {
  width: 60%;
  height: 30px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  border: 1px solid white;
  text-align: center;
  color: white;
  margin: 5px 0;
  cursor: pointer;
}
.message {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: 100%;
}
.message input {
  width: 50%;
  padding: 3px;
  color: white;
  background-color: rgb(30,30,30);
  border: 1px solid white;
  font-family: "Kanit", sans-serif;
  margin: 3px 0;
}
.message textarea {
  padding: 3px;
  color: white;
  background-color: rgb(30,30,30);
  border: 1px solid white;
  font-family: "Kanit", sans-serif;
  margin: 3px 0;
  width: 90%;
  resize: none;
  height: 30vh;
}
.message button {
  width: 60%;
  height: 30px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  border: 1px solid white;
  text-align: center;
  color: white;
  margin: 5px 0;
  cursor: pointer;
}
#result, .result_block {
  display: none;
  position: absolute;
  width: 80%;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(35,35,35);
  text-align: center;
  padding: 5px;
}
.blockuser_container button  {
  width: 60%;
  height: 30px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(35,35,35);
  border: 1px solid white;
  text-align: center;
  color: white;
  margin: 5px 0;
  cursor: pointer;
}
.blockuser_container input {
  width: 50%;
  padding: 3px;
  color: white;
  background-color: rgb(30,30,30);
  border: 1px solid white;
  font-family: "Kanit", sans-serif;
  margin: 3px 0;
}
