main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mission_container_main {
  width: 100%;
  background-color: rgb(35,35,35,0.9);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  margin: 2.5vh 0;
  padding: 10px 0;
}
.mission_container_main_wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.mission_list_wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid white;
  padding: 5px 0;
}
.mision_container_list button {
  background-color: rgb(35,35,35);
  margin-right: 3px;
  font-family: "Kanit", sans-serif;
  padding: 2px 5px;
  text-decoration: none;
  border: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
  cursor: pointer;
  color: white;
}
.mision_container_list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 80vw;
  overflow-x: auto;
}
.mission_container_details {
  display: none;
  flex-flow: column nowrap;
  position: relative;
  text-align: center;
  padding: 0 10px;
}
.close_details {
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.mission_container_details_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-bottom: 1px solid grey;
  margin-top: 10px;
}
.mission_container_details_wrapper a {
  color: white;
}
.mission_container_details_mission_objectives {
  width: 50%;
  padding: 0 3px;
  border-right: 1px solid grey;
    list-style: none;
}
.mission_container_details_mission_reward {
  width: 50%;
  padding: 0 3px;
  list-style: none;
}
.btn_mission_wrapper1 {
  padding: 10px 0;
}
.btn_mission_wrapper1 a {
  background-color: rgb(35,35,35);
  border: 2px solid white;
  border-radius: 3px;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  padding: 2px 5px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  margin: 10px;
}
