main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.all_fleets_box {
  width: 100%;
  background-color: rgb(35,35,35,0.9);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  margin: 2.5vh 0;
  padding: 10px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.fleet_show_stats_wrapper {
  border-top: 2px solid grey;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
}
.fleet_show_stats_destroyed {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid grey;
}
.fleet_show_stats_battles {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding: 5px 0;
}
